USE [master]
GO
/****** Object:  Database [QLSCL]    Script Date: 31-Mar-26 12:21:13 ******/
CREATE DATABASE [QLSCL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSCL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QLSCL.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSCL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\QLSCL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSCL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSCL]
GO
/****** Object:  Table [dbo].[BANG_GIA]    Script Date: 31-Mar-26 12:21:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANG_GIA](
	[MaGia] [varchar](20) NOT NULL,
	[MaLoaiSan] [varchar](10) NOT NULL,
	[MaCa] [varchar](10) NOT NULL,
	[LoaiDat] [nvarchar](20) NOT NULL,
	[Gia] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BangGia_Rule] UNIQUE NONCLUSTERED 
(
	[MaLoaiSan] ASC,
	[MaCa] ASC,
	[LoaiDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CA_GIO]    Script Date: 31-Mar-26 12:21:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CA_GIO](
	[MaCa] [varchar](10) NOT NULL,
	[TenCa] [nvarchar](50) NOT NULL,
	[GioBatDau] [time](7) NOT NULL,
	[GioKetThuc] [time](7) NOT NULL,
	[LaKhungGioVang] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_DAT_SAN]    Script Date: 31-Mar-26 12:21:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DAT_SAN](
	[MaCTDS] [varchar](22) NOT NULL,
	[MaPhieuDat] [varchar](20) NOT NULL,
	[MaSan] [varchar](10) NOT NULL,
	[MaCa] [varchar](10) NOT NULL,
	[NgaySuDung] [date] NOT NULL,
	[GiaLuuTru] [decimal](18, 0) NOT NULL,
	[TrangThaiHieuLuc] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_DICH_VU]    Script Date: 31-Mar-26 12:21:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DICH_VU](
	[MaCTDV] [varchar](20) NOT NULL,
	[MaPhieuDat] [varchar](20) NOT NULL,
	[MaDV] [varchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAT_SAN]    Script Date: 31-Mar-26 12:21:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAT_SAN](
	[MaPhieuDat] [varchar](20) NOT NULL,
	[MaKH] [varchar](15) NULL,
	[MaNV] [varchar](15) NULL,
	[NgayLapPhieu] [datetime] NOT NULL,
	[LoaiDat] [nvarchar](20) NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[TongTien] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICH_VU]    Script Date: 31-Mar-26 12:21:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICH_VU](
	[MaDV] [varchar](10) NOT NULL,
	[TenDV] [nvarchar](100) NOT NULL,
	[DonViTinh] [nvarchar](30) NULL,
	[GiaHienHanh] [decimal](18, 0) NULL,
	[LoaiDV] [nvarchar](30) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 31-Mar-26 12:21:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MaHD] [varchar](20) NOT NULL,
	[MaPhieuDat] [varchar](20) NOT NULL,
	[MaKM] [varchar](15) NULL,
	[TongTienSan] [decimal](18, 0) NOT NULL,
	[TongTienDV] [decimal](18, 0) NOT NULL,
	[SoTienGiam] [decimal](18, 0) NOT NULL,
	[TongThanhToan]  AS (CONVERT([decimal](18,0),([TongTienSan]+[TongTienDV])-[SoTienGiam])) PERSISTED,
	[NgayXuat] [datetime] NOT NULL,
	[HinhThucThanhToan] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 31-Mar-26 12:21:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MaKH] [varchar](15) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SDT] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[DiemTichLuy] [int] NOT NULL,
	[NgayDangKy] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UNQ_SDT] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYEN_MAI]    Script Date: 31-Mar-26 12:21:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYEN_MAI](
	[MaKM] [varchar](15) NOT NULL,
	[TenChuongTrinh] [nvarchar](100) NULL,
	[PhanTramGiam] [int] NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[TenKM] [nvarchar](100) NULL,
	[Kieu] [varchar](10) NULL,
	[GiaTri] [decimal](18, 0) NULL,
	[DonToiThieu] [decimal](18, 0) NULL,
	[NgayBD] [datetime] NULL,
	[NgayKT] [datetime] NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICH_SU_DAT_SAN]    Script Date: 31-Mar-26 12:21:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICH_SU_DAT_SAN](
	[MaLS] [varchar](20) NOT NULL,
	[MaPhieuDat] [varchar](20) NULL,
	[MaNV] [varchar](15) NULL,
	[ThoiGian] [datetime] NOT NULL,
	[HanhDong] [nvarchar](100) NOT NULL,
	[NoiDungChiTiet] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_SAN]    Script Date: 31-Mar-26 12:21:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_SAN](
	[MaLoaiSan] [varchar](10) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 31-Mar-26 12:21:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MaNV] [varchar](15) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SDT] [varchar](15) NULL,
	[ChucVu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN]    Script Date: 31-Mar-26 12:21:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN](
	[MaSan] [varchar](10) NOT NULL,
	[TenSan] [nvarchar](50) NOT NULL,
	[MaLoaiSan] [varchar](10) NULL,
	[TrangThai] [nvarchar](20) NULL,
	[LoaiSan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 31-Mar-26 12:21:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhauHash] [varbinary](64) NOT NULL,
	[MuoiSalt] [uniqueidentifier] NULL,
	[MaNV] [varchar](15) NULL,
	[MaKH] [varchar](15) NULL,
	[VaiTro] [nvarchar](20) NOT NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_TAI_KHOAN] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UNQ_TenDangNhap] UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_LichActive]    Script Date: 31-Mar-26 12:21:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_LichActive] ON [dbo].[CT_DAT_SAN]
(
	[MaSan] ASC,
	[MaCa] ASC,
	[NgaySuDung] ASC
)
WHERE ([TrangThaiHieuLuc]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BANG_GIA] ADD  CONSTRAINT [DF_BANG_GIA_LoaiDat]  DEFAULT (N'Lẻ') FOR [LoaiDat]
GO
ALTER TABLE [dbo].[CA_GIO] ADD  CONSTRAINT [DF_CA_GIO_LaKhungGioVang]  DEFAULT ((0)) FOR [LaKhungGioVang]
GO
ALTER TABLE [dbo].[CT_DAT_SAN] ADD  DEFAULT ((1)) FOR [TrangThaiHieuLuc]
GO
ALTER TABLE [dbo].[CT_DICH_VU] ADD  CONSTRAINT [DF_CTDV_SoLuong]  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[DAT_SAN] ADD  CONSTRAINT [DF_DAT_SAN_NgayLap]  DEFAULT (getdate()) FOR [NgayLapPhieu]
GO
ALTER TABLE [dbo].[DAT_SAN] ADD  CONSTRAINT [DF_DAT_SAN_TrangThai]  DEFAULT (N'Chờ') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DAT_SAN] ADD  CONSTRAINT [DF_DAT_SAN_TongTien]  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[DICH_VU] ADD  CONSTRAINT [DF_DICH_VU_LoaiDV]  DEFAULT (N'Drinks') FOR [LoaiDV]
GO
ALTER TABLE [dbo].[DICH_VU] ADD  CONSTRAINT [DF_DICH_VU_SoLuongTon]  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  CONSTRAINT [DF_HD_TienSan]  DEFAULT ((0)) FOR [TongTienSan]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  CONSTRAINT [DF_HD_TienDV]  DEFAULT ((0)) FOR [TongTienDV]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  CONSTRAINT [DF_HD_Giam]  DEFAULT ((0)) FOR [SoTienGiam]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  CONSTRAINT [DF_HD_NgayXuat]  DEFAULT (getdate()) FOR [NgayXuat]
GO
ALTER TABLE [dbo].[KHACH_HANG] ADD  CONSTRAINT [DF_KH_Diem]  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[KHACH_HANG] ADD  CONSTRAINT [DF_KH_NgayDangKy]  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[KHUYEN_MAI] ADD  CONSTRAINT [DF_KHUYEN_MAI_PhanTramGiam]  DEFAULT ((0)) FOR [PhanTramGiam]
GO
ALTER TABLE [dbo].[KHUYEN_MAI] ADD  CONSTRAINT [DF_KHUYEN_MAI_TrangThai]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[LICH_SU_DAT_SAN] ADD  CONSTRAINT [DF_LS_ThoiGian]  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[SAN] ADD  CONSTRAINT [DF_SAN_TrangThai]  DEFAULT (N'Sẵn sàng') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TAI_KHOAN] ADD  CONSTRAINT [DF_TAIKHOAN_Salt]  DEFAULT (newid()) FOR [MuoiSalt]
GO
ALTER TABLE [dbo].[TAI_KHOAN] ADD  CONSTRAINT [DF_TAIKHOAN_TrangThai]  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[BANG_GIA]  WITH CHECK ADD  CONSTRAINT [FK_Gia_CaGio] FOREIGN KEY([MaCa])
REFERENCES [dbo].[CA_GIO] ([MaCa])
GO
ALTER TABLE [dbo].[BANG_GIA] CHECK CONSTRAINT [FK_Gia_CaGio]
GO
ALTER TABLE [dbo].[BANG_GIA]  WITH CHECK ADD  CONSTRAINT [FK_Gia_LoaiSan] FOREIGN KEY([MaLoaiSan])
REFERENCES [dbo].[LOAI_SAN] ([MaLoaiSan])
GO
ALTER TABLE [dbo].[BANG_GIA] CHECK CONSTRAINT [FK_Gia_LoaiSan]
GO
ALTER TABLE [dbo].[CT_DAT_SAN]  WITH CHECK ADD  CONSTRAINT [FK_CTDS_Ca] FOREIGN KEY([MaCa])
REFERENCES [dbo].[CA_GIO] ([MaCa])
GO
ALTER TABLE [dbo].[CT_DAT_SAN] CHECK CONSTRAINT [FK_CTDS_Ca]
GO
ALTER TABLE [dbo].[CT_DAT_SAN]  WITH CHECK ADD  CONSTRAINT [FK_CTDS_Phieu] FOREIGN KEY([MaPhieuDat])
REFERENCES [dbo].[DAT_SAN] ([MaPhieuDat])
GO
ALTER TABLE [dbo].[CT_DAT_SAN] CHECK CONSTRAINT [FK_CTDS_Phieu]
GO
ALTER TABLE [dbo].[CT_DAT_SAN]  WITH CHECK ADD  CONSTRAINT [FK_CTDS_San] FOREIGN KEY([MaSan])
REFERENCES [dbo].[SAN] ([MaSan])
GO
ALTER TABLE [dbo].[CT_DAT_SAN] CHECK CONSTRAINT [FK_CTDS_San]
GO
ALTER TABLE [dbo].[CT_DICH_VU]  WITH CHECK ADD  CONSTRAINT [FK_CTDV_DV] FOREIGN KEY([MaDV])
REFERENCES [dbo].[DICH_VU] ([MaDV])
GO
ALTER TABLE [dbo].[CT_DICH_VU] CHECK CONSTRAINT [FK_CTDV_DV]
GO
ALTER TABLE [dbo].[CT_DICH_VU]  WITH CHECK ADD  CONSTRAINT [FK_CTDV_Phieu] FOREIGN KEY([MaPhieuDat])
REFERENCES [dbo].[DAT_SAN] ([MaPhieuDat])
GO
ALTER TABLE [dbo].[CT_DICH_VU] CHECK CONSTRAINT [FK_CTDV_Phieu]
GO
ALTER TABLE [dbo].[DAT_SAN]  WITH CHECK ADD  CONSTRAINT [FK_DatSan_KH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
ALTER TABLE [dbo].[DAT_SAN] CHECK CONSTRAINT [FK_DatSan_KH]
GO
ALTER TABLE [dbo].[DAT_SAN]  WITH CHECK ADD  CONSTRAINT [FK_DatSan_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[DAT_SAN] CHECK CONSTRAINT [FK_DatSan_NV]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HD_KM] FOREIGN KEY([MaKM])
REFERENCES [dbo].[KHUYEN_MAI] ([MaKM])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HD_KM]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HD_Phieu] FOREIGN KEY([MaPhieuDat])
REFERENCES [dbo].[DAT_SAN] ([MaPhieuDat])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HD_Phieu]
GO
ALTER TABLE [dbo].[LICH_SU_DAT_SAN]  WITH CHECK ADD  CONSTRAINT [FK_LS_DatSan] FOREIGN KEY([MaPhieuDat])
REFERENCES [dbo].[DAT_SAN] ([MaPhieuDat])
GO
ALTER TABLE [dbo].[LICH_SU_DAT_SAN] CHECK CONSTRAINT [FK_LS_DatSan]
GO
ALTER TABLE [dbo].[LICH_SU_DAT_SAN]  WITH CHECK ADD  CONSTRAINT [FK_LS_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[LICH_SU_DAT_SAN] CHECK CONSTRAINT [FK_LS_NhanVien]
GO
ALTER TABLE [dbo].[SAN]  WITH CHECK ADD  CONSTRAINT [FK_San_LoaiSan] FOREIGN KEY([MaLoaiSan])
REFERENCES [dbo].[LOAI_SAN] ([MaLoaiSan])
GO
ALTER TABLE [dbo].[SAN] CHECK CONSTRAINT [FK_San_LoaiSan]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TK_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [FK_TK_KhachHang]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TK_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [FK_TK_NhanVien]
GO
ALTER TABLE [dbo].[DAT_SAN]  WITH CHECK ADD  CONSTRAINT [CHK_LoaiDat] CHECK  (([LoaiDat]=N'Cố định' OR [LoaiDat]=N'Lẻ'))
GO
ALTER TABLE [dbo].[DAT_SAN] CHECK CONSTRAINT [CHK_LoaiDat]
GO
ALTER TABLE [dbo].[DICH_VU]  WITH CHECK ADD  CONSTRAINT [CHK_DICH_VU_LoaiDV] CHECK  (([LoaiDV]=N'Equipment' OR [LoaiDV]=N'Drinks'))
GO
ALTER TABLE [dbo].[DICH_VU] CHECK CONSTRAINT [CHK_DICH_VU_LoaiDV]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [CHK_ChuSoHuu] CHECK  (([MaNV] IS NOT NULL AND [MaKH] IS NULL OR [MaNV] IS NULL AND [MaKH] IS NOT NULL))
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [CHK_ChuSoHuu]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [CHK_VaiTro_HeThong] CHECK  (([VaiTro]=N'Admin' OR [VaiTro]=N'NhanVien' OR [VaiTro]=N'KhachHang'))
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [CHK_VaiTro_HeThong]
GO
USE [master]
GO
